Repository LazyBallsZealots/Results.Immutable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.husky/cleanup-src.sh

feat: compatibility with aot required
  src/Results.Immutable/Results.Immutable.csproj
Due: none

feat: allow to transpose IEnumerable
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

docs: missing xml documentation in result factories
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

feat: add ParseEach extensions and IndexError for it
  src/Results.Immutable.Tests/MemberTests/EachParserTests.cs
  src/Results.Immutable/Member/EachParser.cs
  src/Results.Immutable/Member/IndexError.cs
  src/Results.Immutable/Projections/Result/Select.cs
Due: ./.husky/cleanup-src.sh

chore(release): publish
  src/Results.Immutable.Extensions.FluentAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
  yarn.lock
Due: prettier --write

ci: fix versioning in CI to allow modifications of the lock
  .github/workflows/version.yml
  package.json
Due: none

feat: add ParsePairs extensions
  src/Results.Immutable.Tests/MemberTests/EachParserTests.cs
  src/Results.Immutable/Member/EachParser.cs
  src/Results.Immutable/README.md
Due: prettier --write, ./.husky/cleanup-src.sh

feat: return concrete type when calling `WithRootCauses` instead of `Error`
  src/Results.Immutable.Tests/ErrorTests.cs
  src/Results.Immutable.Tests/ExtensionsTests/ResultOptionConvertExtensionsTests.cs
  src/Results.Immutable.Tests/Generators/ResultOf.cs
  src/Results.Immutable/Error.cs
  src/Results.Immutable/Member/IndexError.cs
  src/Results.Immutable/Member/MemberError.cs
  src/Results.Immutable/README.md
Due: prettier --write, ./.husky/cleanup-src.sh

test: convert WithRootCause tests to property tests
  .editorconfig
  src/Results.Immutable.Tests/Generators/Errors.cs
Due: ./.husky/cleanup-src.sh

chore: unify NuGet versions and add TestResults to ignored items
  src/Results.Immutable.Extensions.FluentAssertions.Tests/Results.Immutable.Extensions.FluentAssertions.Tests.csproj
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
Due: none

chore: add code coverage-related extension settings and suggestions
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: add dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

feat: add error projections
  src/Results.Immutable.Tests/ResultTests/ErrorProjectionTests.cs
  src/Results.Immutable/Projections/Result/SelectErrors.cs
Due: ./.husky/cleanup-src.sh

ci: decouple 'dotnet test' and 'dotnet coverage' commands
  .github/workflows/ci-pull-request.yml
Due: none

refactor: convert existing Errors to explicit implementation and add JsonConstructor attributes
  src/Results.Immutable/Error.cs
  src/Results.Immutable/ExceptionalError.cs
  src/Results.Immutable/Member/IndexError.cs
  src/Results.Immutable/Member/MemberError.cs
Due: ./.husky/cleanup-src.sh

docs: added dev container description to the CONTRIBUTING docs
  CONTRIBUTING.md
Due: prettier --write

feat: override ToString() on Index- and MemberError classes
  src/Results.Immutable/Member/IndexError.cs
  src/Results.Immutable/Member/MemberError.cs
Due: ./.husky/cleanup-src.sh

chore: remove deprecated .NET support
  .github/workflows/ci-pull-request.yml
  .github/workflows/publish.yml
  src/Results.Immutable.Extensions.FluentAssertions.Tests/Results.Immutable.Extensions.FluentAssertions.Tests.csproj
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable.sln.DotSettings
  src/Results.Immutable/Results.Immutable.csproj
Due: none

fix: contain errors of type traverses all errors' hierarchies
  src/Results.Immutable.Extensions.FluentAssertions.Tests/ResultTest.cs
  src/Results.Immutable.Extensions.FluentAssertions/Assertions/ResultAssertions.cs
  src/Results.Immutable.sln.DotSettings
Due: ./.husky/cleanup-src.sh

Path conditions:
  prettier --write: any of: *.{md,mdx}
  ./.husky/cleanup-src.sh: any of: *.cs
