Repository LazyBallsZealots/Results.Immutable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.husky/cleanup-src.sh

.lintstagedrc.json:

{
    "*.{md,mdx}": ["prettier --write"],
    "*.cs": "./.husky/cleanup-src.sh"
}

chore(release): publish
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
Due: prettier --write

feat: add non-generic Result abstraction
  src/Results.Immutable/IResult.cs
Due: ./.husky/cleanup-src.sh

refactor: split projection property tests
  src/Results.Immutable.Tests/ExtensionsTests/AsyncProjectionsTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TryTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultProjectionTests.cs
Due: ./.husky/cleanup-src.sh

refactor: move Errors to Result.Immutable namespace
  package.json
  src/Results.Immutable.Benchmarks/Program.cs
  src/Results.Immutable.Tests/Usings.cs
  src/Results.Immutable/Error.cs
  src/Results.Immutable/ExceptionalError.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/IResult.cs
  src/Results.Immutable/Metadata/Error.cs
  src/Results.Immutable/Metadata/ExceptionalError.cs
  src/Results.Immutable/Result.cs
Due: ./.husky/cleanup-src.sh

feat!: add static abstract interface members creating failures to the struct
  .github/workflows/ci-pull-request.yml
  .github/workflows/publish.yml
  src/Results.Immutable.Benchmarks/Program.cs
  src/Results.Immutable.Tests/ResultTests/ResultTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable.sln
  src/Results.Immutable/IResult.cs
  src/Results.Immutable/Result.cs
  src/Results.Immutable/Results.Immutable.csproj
Due: ./.husky/cleanup-src.sh

feat: add WithErrors and IResult interface
  src/Results.Immutable.Tests/ResultTests/ResultTests.cs
  src/Results.Immutable/IResult.cs
  src/Results.Immutable/Result.cs
Due: ./.husky/cleanup-src.sh

feat: add option equality, zip and transpose
  src/Results.Immutable.Tests/OptionFactoriesTests/ZipTests.cs
  src/Results.Immutable.Tests/OptionTests/EqualityTests.cs
  src/Results.Immutable/Factories/OptionFactories.cs
  src/Results.Immutable/Option.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Results.Immutable.csproj
Due: ./.husky/cleanup-src.sh

feat: add ZipWith/ZipWithAsync and convert Zip to extension methods
  src/Results.Immutable.Tests/ExtensionsTests/ResultZipExtensionsTests.cs
  src/Results.Immutable.Tests/Generators/ResultOf.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/ZipTests.cs
  src/Results.Immutable/Error.cs
  src/Results.Immutable/Extensions/ResultZipExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

feat: convert between result and option
  package.json
  src/Results.Immutable.Tests/ExtensionsTests/ResultOptionConvertExtensionsTests.cs
  src/Results.Immutable.Tests/OptionTests/OptionTests.cs
  src/Results.Immutable/Extensions/ResultOptionConvertExtensions.cs
  src/Results.Immutable/Option.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
  src/Results.Immutable/Result.cs
Due: ./.husky/cleanup-src.sh

fix: add license expression to main .csproj file
  src/Results.Immutable/Results.Immutable.csproj
Due: none

ci: #34 switch to ReportGenerator for code coverage
  .github/workflows/ci-pull-request.yml
Due: none

chore: #29 add code change to trigger the workflow
  .github/workflows/ci-pull-request.yml
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

ci: #34 use matrix strategy
  .github/workflows/ci-pull-request.yml
Due: none

feat: add sync-to-async projections for generic ValueTasks
  src/Results.Immutable.Tests/ResultTests/ResultProjectionTests.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Projections/Result/SelectAsync.cs
  src/Results.Immutable/Projections/Result/SelectManyAsync.cs
Due: ./.husky/cleanup-src.sh

fix: adjust existing TryAsync tests to match the test case
  src/Results.Immutable.Tests/ResultFactoriesTests/TryTests.cs
Due: ./.husky/cleanup-src.sh

feat: add .NET 8 to the list of supported frameworks
  .github/workflows/ci-pull-request.yml
  .github/workflows/publish.yml
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Results.Immutable.csproj
Due: none

feat: add missing merge overload
  src/Results.Immutable.Tests/ResultFactoriesTests/TransposeTests.cs
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

ci: generate only one coverage xml file
  .config/dotnet-tools.json
  .github/workflows/ci-pull-request.yml
  .gitignore
  src/dotnet-coverage.xml
Due: none

feat: add fluent assertions extensions for result immutable
  .github/workflows/publish.yml
  src/Results.Immutable.Extensions.FluentAssertions.Tests/GlobalUsings.cs
  src/Results.Immutable.Extensions.FluentAssertions.Tests/OptionTest.cs
  src/Results.Immutable.Extensions.FluentAssertions.Tests/ResultTest.cs
  src/Results.Immutable.Extensions.FluentAssertions.Tests/Results.Immutable.Extensions.FluentAssertions.Tests.csproj
  src/Results.Immutable.Extensions.FluentAssertions/Assertions/OptionAssertions.cs
  src/Results.Immutable.Extensions.FluentAssertions/Assertions/ResultAssertions.cs
  src/Results.Immutable.Extensions.FluentAssertions/OptionExtensions.cs
  src/Results.Immutable.Extensions.FluentAssertions/ResultExtensions.cs
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable.sln
  yarn.lock
Due: ./.husky/cleanup-src.sh

refactor: rename Usings to GlobalUsings for ecosystem consistency
  src/Results.Immutable.Extensions.FluentAssertions.Tests/OptionTest.cs
  src/Results.Immutable.Extensions.FluentAssertions.Tests/ResultTest.cs
  src/Results.Immutable.Extensions.FluentAssertions/Assertions/OptionAssertions.cs
  src/Results.Immutable.Extensions.FluentAssertions/Assertions/ResultAssertions.cs
  src/Results.Immutable/GlobalUsings.cs
Due: ./.husky/cleanup-src.sh

chore: add .mono to .gitignore
  .gitignore
Due: none

chore(release): publish
  src/Results.Immutable.Extensions.FluentAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
Due: prettier --write
