Repository LazyBallsZealots/Results.Immutable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.husky/cleanup-src.sh

feat: add Some struct
  .gitignore
  src/Results.Immutable.Tests/Extensions/ResultExtensions.cs
  src/Results.Immutable.Tests/OptionTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests.cs
  src/Results.Immutable.Tests/SomeTests.cs
  src/Results.Immutable.Tests/Usings.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Option.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
  src/Results.Immutable/Some.cs
Due: ./.husky/cleanup-src.sh

feat: add .Expect method to Options
  src/Results.Immutable.Tests/OptionTests.cs
  src/Results.Immutable/Exceptions/NoValueException.cs
  src/Results.Immutable/Option.cs
Due: ./.husky/cleanup-src.sh

feat: convert to an IEnumerable (explicit) Also, convert back from an IEnumerable and nullable refs/structs
  src/Results.Immutable.Tests/OptionTests.cs
  src/Results.Immutable/Option.cs
Due: ./.husky/cleanup-src.sh

feat: some enhancements for result POC
  .config/dotnet-tools.json
  src/Results.Immutable.Tests/Extensions/ResultExtensions.cs
  src/Results.Immutable.Tests/ResultFactoriesTests.cs
  src/Results.Immutable.Tests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/ResultTests.cs
  src/Results.Immutable/Collection/Collection.cs
  src/Results.Immutable/Contracts/IImmutableResult.cs
  src/Results.Immutable/Extensions/EnumerableExtensions.cs
  src/Results.Immutable/Extensions/ErrorExtensions.cs
  src/Results.Immutable/Extensions/ResultEnumerableExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Metadata/Error.cs
  src/Results.Immutable/Metadata/ExceptionalError.cs
  src/Results.Immutable/Metadata/Reason.cs
  src/Results.Immutable/Metadata/Success.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Projections/Result/SelectMany.cs
  src/Results.Immutable/Result.cs
Due: ./.husky/cleanup-src.sh

feat: add Map and thunk selectors for Option Including Map/Select Including AndThen/SelectMany and OrElse
  src/Results.Immutable.Tests/OptionProjectionTests.cs
  src/Results.Immutable/Projections/Option/Select.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
Due: ./.husky/cleanup-src.sh

ci: inspect code in pull request
  .github/workflows/ci-pull-request.yml
  .gitignore
  src/Results.Immutable.sln.DotSettings
Due: none

feat: create succesful structure
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable.Tests/SuccesfulExtensionsTests.cs
  src/Results.Immutable/Extensions/SuccessfulExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Result.cs
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/Successful.cs
Due: ./.husky/cleanup-src.sh

refactor: remove successes from result
  .config/dotnet-tools.json
  src/Results.Immutable.Tests/Extensions/ResultExtensions.cs
  src/Results.Immutable.Tests/ResultFactoriesTests.cs
  src/Results.Immutable.Tests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/ResultTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Collection/Collection.cs
  src/Results.Immutable/Contracts/IImmutableResult.cs
  src/Results.Immutable/Extensions/EnumerableExtensions.cs
  src/Results.Immutable/Extensions/ErrorExtensions.cs
  src/Results.Immutable/Extensions/ResultEnumerableExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Metadata/Error.cs
  src/Results.Immutable/Metadata/ExceptionalError.cs
  src/Results.Immutable/Metadata/Reason.cs
  src/Results.Immutable/Metadata/Success.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Projections/Result/SelectMany.cs
  src/Results.Immutable/Result.cs
  src/Results.Immutable/Results.Immutable.csproj
Due: ./.husky/cleanup-src.sh

chore: set rules for the solution (rename file to be applied)
  src/Results.Immutable.sln.DotSettings
Due: none

feat: add Select, SelectMany and Where to Option in a standard way
  src/Results.Immutable.Tests/Fn.cs
  src/Results.Immutable.Tests/OptionProjectionTests.cs
  src/Results.Immutable.Tests/OptionTests/OptionTests.cs
  src/Results.Immutable.Tests/OptionTests/OptionTransformationTests.cs
  src/Results.Immutable.Tests/ResultProjectionTests.cs
  src/Results.Immutable/Option.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
Due: ./.husky/cleanup-src.sh

refactor: remove successes from result
  src/Results.Immutable.Tests/Extensions/ResultExtensions.cs
  src/Results.Immutable.Tests/ResultFactoriesTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/FailTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/OkTests.cs
  src/Results.Immutable.Tests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/ResultTests.cs
  src/Results.Immutable.Tests/ResultTests/EqualityTests.cs
  src/Results.Immutable.Tests/ResultTests/ProjectionsTests/SelectTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultTests.cs
  src/Results.Immutable.Tests/Usings.cs
  src/Results.Immutable.sln
  src/Results.Immutable/Collection/Collection.cs
  src/Results.Immutable/Contracts/IImmutableResult.cs
  src/Results.Immutable/Extensions/EnumerableExtensions.cs
  src/Results.Immutable/Extensions/ErrorExtensions.cs
  src/Results.Immutable/Extensions/ResultEnumerableExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Metadata/Error.cs
  src/Results.Immutable/Metadata/ExceptionalError.cs
  src/Results.Immutable/Metadata/Reason.cs
  src/Results.Immutable/Metadata/Success.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Projections/Result/SelectMany.cs
  src/Results.Immutable/Result.cs
  src/Results.Immutable/Results.Immutable.csproj
Due: ./.husky/cleanup-src.sh

chore: #29 add removed tests and refactor
  .github/workflows/ci-pull-request.yml
  .lintstagedrc.json
  CONTRIBUTING.md
  src/Results.Immutable.Benchmarks/Results.Immutable.Benchmarks.csproj
  src/Results.Immutable.Tests/Extensions/ResultExtensions.cs
  src/Results.Immutable.Tests/Generators/IntegerResultGenerator.cs
  src/Results.Immutable.Tests/OptionTests/OptionTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/FailTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/OkTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/ResultMatching.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/RootError.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TransposeTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TryTests.cs
  src/Results.Immutable.Tests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/ResultTests/EqualityTests.cs
  src/Results.Immutable.Tests/ResultTests/ProjectionsTests/SelectTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable.Tests/SomeTests.cs
  src/Results.Immutable.Tests/Usings.cs
  src/Results.Immutable.sln.DotSettings
  src/Results.Immutable/Collection/Collection.cs
  src/Results.Immutable/Extensions/EnumerableExtensions.cs
  src/Results.Immutable/Extensions/ErrorExtensions.cs
  src/Results.Immutable/Extensions/ResultEnumerableExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Metadata/Error.cs
  src/Results.Immutable/Metadata/ExceptionalError.cs
  src/Results.Immutable/Option.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Projections/Result/SelectMany.cs
  src/Results.Immutable/Result.cs
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/Some.cs
Due: prettier --write, ./.husky/cleanup-src.sh

feat: #29 refactor Zip and implement missing tests
  src/Results.Immutable.Tests/Generators/ResultOfObject.cs
  src/Results.Immutable.Tests/Generators/SelectMany.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TransposeTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TryTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/ZipTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultProjectionTests.cs
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

chore: remove commented code
  src/Results.Immutable.Tests/ResultTests/ResultTests.cs
Due: ./.husky/cleanup-src.sh

ci: automatic versioning via lerna
  lerna.json
  package.json
  scripts/version.mjs
  src/Results.Immutable/README.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
  yarn.lock
Due: prettier --write

ci: automatically preview and release a version via workflows
  .github/workflows/version.yml
  .husky/commit-msg
  .husky/pre-commit
  src/Results.Immutable/package.json
Due: none

chore(release): publish
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
Due: prettier --write

ci: allow to prerelease the versions
  .github/workflows/version.yml
  .husky/commit-msg
  .husky/pre-commit
Due: none

docs: readme reasoning
  README.md
Due: prettier --write

ci: publishing pipeline
  .github/workflows/publish.yml
Due: none

feat: add TryAsync and asynchronous selectors for Results
  .husky/cleanup-src.sh
  src/Results.Immutable.Tests/ExtensionsTests/TaskOfResultExtensionsTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TryTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Extensions/TaskOfResultExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Projections/Result/SelectMany.cs
Due: ./.husky/cleanup-src.sh

chore: refactor async projections and upgrade FsCheck
  src/Results.Immutable.Tests/ExtensionsTests/AsyncProjectionsTests.cs
  src/Results.Immutable.Tests/ExtensionsTests/TaskOfResultExtensionsTests.cs
  src/Results.Immutable.Tests/Generators/ResultOfObject.cs
  src/Results.Immutable.Tests/Generators/SelectMany.cs
  src/Results.Immutable.Tests/OptionTests/OptionTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/OkTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TransposeTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TryTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/ZipTests.cs
  src/Results.Immutable.Tests/ResultTests/EqualityTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Extensions/TaskOfResultExtensions.cs
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

feat: add an interface IResult to allow boxing the Result
  src/Results.Immutable/IResult.cs
  src/Results.Immutable/Result.cs
Due: ./.husky/cleanup-src.sh

Path conditions:
  prettier --write: any of: *.{md,mdx}
  ./.husky/cleanup-src.sh: any of: *.cs
