Repository LazyBallsZealots/Results.Immutable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.husky/cleanup-src.sh

chore(release): publish
  src/Results.Immutable.Extensions.FluentAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
  yarn.lock
Due: prettier --write

chore: remove deprecated .NET support
  .github/workflows/ci-pull-request.yml
  .github/workflows/publish.yml
  src/Results.Immutable.Extensions.FluentAssertions.Tests/Results.Immutable.Extensions.FluentAssertions.Tests.csproj
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Results.Immutable.csproj
Due: none

ci: decouple 'dotnet test' and 'dotnet coverage' commands
  .github/workflows/ci-pull-request.yml
Due: none

chore: add benchmarks to the solution
  src/Results.Immutable.Benchmarks/Program.cs
  src/Results.Immutable.sln
Due: ./.husky/cleanup-src.sh

fix: remove .Transpose short-circuit to avoid multiple enumeration in rare cases
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

feat: dotnet 10 support
  .github/workflows/ci-pull-request.yml
  .github/workflows/publish.yml
  src/Results.Immutable.Benchmarks/Results.Immutable.Benchmarks.csproj
  src/Results.Immutable.Extensions.FluentAssertions.Tests/Results.Immutable.Extensions.FluentAssertions.Tests.csproj
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Results.Immutable.csproj
Due: none

feat: add ZipWithMany extension
  src/Results.Immutable.Tests/ExtensionsTests/ResultZipExtensionsTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Extensions/ResultZipExtensions.cs
Due: ./.husky/cleanup-src.sh

chore: bump JetBrains tooling to v2026.2.1
  .config/dotnet-tools.json
Due: none

feat: add AwesomeAssertions extensions for Results.Immutable
  src/Results.Immutable.Extensions.AwesomeAssertions.Tests/GlobalUsings.cs
  src/Results.Immutable.Extensions.AwesomeAssertions.Tests/OptionTest.cs
  src/Results.Immutable.Extensions.AwesomeAssertions.Tests/ResultTest.cs
  src/Results.Immutable.Extensions.AwesomeAssertions.Tests/Results.Immutable.Extensions.AwesomeAssertions.Tests.csproj
  src/Results.Immutable.Extensions.AwesomeAssertions/Assertions/OptionAssertions.cs
  src/Results.Immutable.Extensions.AwesomeAssertions/Assertions/ResultAssertions.cs
  src/Results.Immutable.Extensions.AwesomeAssertions/OptionExtensions.cs
  src/Results.Immutable.Extensions.AwesomeAssertions/ResultExtensions.cs
  src/Results.Immutable.Extensions.AwesomeAssertions/Results.Immutable.Extensions.AwesomeAssertions.csproj
  src/Results.Immutable.Extensions.AwesomeAssertions/package.json
  src/Results.Immutable.sln
  yarn.lock
Due: ./.husky/cleanup-src.sh

chore(release): publish
  src/Results.Immutable.Extensions.AwesomeAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.AwesomeAssertions/Results.Immutable.Extensions.AwesomeAssertions.csproj
  src/Results.Immutable.Extensions.AwesomeAssertions/package.json
  src/Results.Immutable.Extensions.FluentAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
  yarn.lock
Due: prettier --write

ci: publish AwesomeAssertions extensions package
  .github/workflows/publish.yml
Due: none

ci: skip duplicate packages
  .github/workflows/publish.yml
Due: none

Path conditions:
  prettier --write: any of: *.{md,mdx}
  ./.husky/cleanup-src.sh: any of: *.cs
