Repository LazyBallsZealots/Results.Immutable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./.husky/cleanup-src.sh

.lintstagedrc.json:

{
    "*.{md,mdx}": ["prettier --write"],
    "*.cs": "./.husky/cleanup-src.sh"
}

fix: adjust versioning scripts to fail if the csproj file cannot be modified
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/package.json
  yarn.lock
Due: none

fix: set test extensions package version to 0.0.0 and add dev dependency
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  yarn.lock
Due: none

chore(release): publish
  src/Results.Immutable.Extensions.FluentAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
Due: prettier --write

chore(fluent-assertions): set hard dependency to main package
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  yarn.lock
Due: none

feat: implement synchronous projections for tasks of generic Results
  src/Results.Immutable.Tests/ExtensionsTests/AsyncProjectionsTests.cs
  src/Results.Immutable/Extensions/TaskOfResultExtensions.cs
Due: ./.husky/cleanup-src.sh

feat: add transpose for `Option<Result<T>>` to `Result<Option<T>>` and otherwise
  src/Results.Immutable.Tests/ExtensionsTests/ResultOptionConvertExtensionsTests.cs
  src/Results.Immutable/Extensions/ResultOptionConvertExtensions.cs
Due: ./.husky/cleanup-src.sh

feat: added sync- and async projections to Option
  src/Results.Immutable.Tests/OptionTests/OptionTransformationTests.cs
  src/Results.Immutable/Extensions/TaskOfOptionExtensions.cs
  src/Results.Immutable/Projections/Option/Select.cs
  src/Results.Immutable/Projections/Option/SelectMany.cs
Due: ./.husky/cleanup-src.sh

feat: add SelectManyAsync for option
  src/Results.Immutable.Tests/OptionTests/OptionProjectionTests.cs
  src/Results.Immutable/Extensions/TaskOfResultExtensions.cs
  src/Results.Immutable/Projections/Option/SelectManyAsync.cs
Due: ./.husky/cleanup-src.sh

feat: add OkIfNotNull for Result
  src/Results.Immutable.Tests/Fn.cs
  src/Results.Immutable.Tests/GlobalUsings.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/OkTests.cs
  src/Results.Immutable.Tests/Results.Immutable.Tests.csproj
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

fix: sync lockfile
  yarn.lock
Due: none

fix: add root versioning script
  package.json
Due: none

chore(release): publish
  src/Results.Immutable.Extensions.FluentAssertions/CHANGELOG.md
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable.Extensions.FluentAssertions/package.json
  src/Results.Immutable/CHANGELOG.md
  src/Results.Immutable/Results.Immutable.csproj
  src/Results.Immutable/package.json
  yarn.lock
Due: prettier --write

feat: add experiment for validation
  src/Results.Immutable.Tests/ValidationTests/ValidateTests.cs
  src/Results.Immutable/Validation/ContextualError.cs
  src/Results.Immutable/Validation/ObjectExt.cs
Due: ./.husky/cleanup-src.sh

feat: add generic OkIf / FailIf Result factories
  src/Results.Immutable.Tests/ResultFactoriesTests/FailTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/OkTests.cs
  src/Results.Immutable/Factories/ResultFactories.cs
Due: ./.husky/cleanup-src.sh

chore: move async projections to their sync counterparts
  src/Results.Immutable/Projections/Option/SelectMany.cs
  src/Results.Immutable/Projections/Option/SelectManyAsync.cs
  src/Results.Immutable/Projections/Result/Select.cs
  src/Results.Immutable/Projections/Result/SelectAsync.cs
  src/Results.Immutable/Projections/Result/SelectMany.cs
  src/Results.Immutable/Projections/Result/SelectManyAsync.cs
Due: ./.husky/cleanup-src.sh

feat: add sourcelink
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable/Results.Immutable.csproj
Due: none

feat: add `.Where` and `.WhereAsync` for `Result`
  src/Results.Immutable.Tests/ResultTests/FilterTests.cs
  src/Results.Immutable/Filters/Result/Where.cs
Due: ./.husky/cleanup-src.sh

docs: embed XML docs in packable projects
  src/Results.Immutable.Extensions.FluentAssertions/Results.Immutable.Extensions.FluentAssertions.csproj
  src/Results.Immutable/Results.Immutable.csproj
Due: none

chore: run code cleanup and build separately
  .husky/cleanup-src.sh
Due: none

feat!: remove all Result-related methods with string overloads
  src/Results.Immutable.Extensions.FluentAssertions.Tests/ResultTest.cs
  src/Results.Immutable.Tests/ExtensionsTests/AsyncProjectionsTests.cs
  src/Results.Immutable.Tests/ExtensionsTests/ResultOptionConvertExtensionsTests.cs
  src/Results.Immutable.Tests/Generators/ResultOfObject.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/FailTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/OkTests.cs
  src/Results.Immutable.Tests/ResultFactoriesTests/TransposeTests.cs
  src/Results.Immutable.Tests/ResultTests/EqualityTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultProjectionTests.cs
  src/Results.Immutable.Tests/ResultTests/ResultTests.cs
  src/Results.Immutable/Factories/ResultFactories.cs
  src/Results.Immutable/Result.cs
Due: ./.husky/cleanup-src.sh

feat: add member parsing/validation with an error that tracks its path
  src/Results.Immutable.Tests/MemberTests/MemberParserTests.cs
  src/Results.Immutable/Member/MemberError.cs
  src/Results.Immutable/Member/MemberParser.cs
  src/Results.Immutable/README.md
Due: prettier --write, ./.husky/cleanup-src.sh
